<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Location info</h3>
    <ul>
      <li>The Bookstore</li>
      <li>Phone: 8 922 355 12 15</li>
      <li>Email: bookstore@gmail.com</li>
    </ul>
  </div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || 'show' %>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>
