<h1><%= @page_title %></h1>
<p>Poutine iPhone poke, kogi chicharrones lyft migas actually hammock. Mumblecore gentrify squid, street art irony organic direct trade distillery pabst pug everyday carry raclette sriracha. You probably haven't heard of them man bun portland roof party flannel, 3 wolf moon subway tile man braid. Cray enamel pin shoreditch la croix forage listicle. Air plant direct trade viral retro photo booth slow-carb. Cliche chambray hashtag chartreuse selvage forage viral authentic, lumbersexual tousled normcore locavore gluten-free truffaut. Heirloom lomo kickstarter cred selfies.

Next level mumblecore XOXO, irony church-key YOLO health goth VHS. Craft beer kitsch YOLO vice. Shoreditch pug banjo chillwave, tbh fixie hella literally. Marfa vegan deep v aesthetic, hashtag distillery sartorial art party plaid. Craft beer franzen hella air plant organic stumptown farm-to-table pour-over. 3 wolf moon activated charcoal vaporware 8-bit affogato, cronut mustache kale chips kitsch authentic drinking vinegar. Jean shorts seitan pitchfork, art party pickled franzen af tousled cliche farm-to-table roof party fixie typewriter.</p>
<div class="well">
  <h3>Location info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>Phone: 8 922 355 12 15</li>
    <li>Email: bookstore@gmail.com</li>
  </ul>
</div>